@import url('https://fonts.googleapis.com/css2?family=Montserrat&display');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display');

html,body{
    max-width:100%;
    min-height:100vh;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans serrif;
    background-color: #ffffff;
    color:#1b96c8;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:5px,5px;
    height:10%;
    background-color: #ffffff;
    color:#1b96c8;
}

.logo img{
    height:10%;
    width:auto;
    position:absolute;
    top:0.5%;
    right:1%;
}

.title{
    font-size:5vh;
    font-weight:600;
    position:fixed;
    top:0%;
    align-self: center;
}

.nav {
    overflow:visible;
    position:absolute;
    text-wrap-mode: nowrap;
    top:0%;
    left:1%;
    width:15%;
    height:10%;
}


.navlist {
    list-style: none;
    display: flex;
    margin:0;
    padding:20px;
    overflow: visible;
}

.navlist li{
    position:relative;
    margin-left:20px;
}

.navlist > li > a{
    display: block;
    right:1%;
    color:#1b96c8;
    text-decoration: none;
    font-size: 4vh;
    text-wrap-mode:nowrap;
    font-weight:600;
    transition: color 0.3s;
}

.navlist > li > a:hover{
    color:#1b97c88c;
}

.dropdown-menu {
    display: none;
    position:absolute;
    list-style-type: disc;
    background-color: #bebebe;
    color:#1b96c8;
    font-weight:600;
    z-index: 1000;
}

.dropdown-menu li a {
    color:#1b96c8;
    background-color: #bebebe;
    padding:10px,10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    color:#1b97c88c;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.main{
    display: block;
    position:absolute;
    top:10%;
    align-items: center;
    min-height:82vh;
    min-width: 100%;
    background-color: #f5f8fa;
}

.decal img{
    width:100%;
    height:4vh;
}

.intro-title{
    color:#1b96c8;
    font-size:35px;
    font-weight:600px;
    text-align:center;
}

.intro{
    color:#1b96c8;
    font-size:20px;
    text-align:center;
    padding:0 5%;
}

.wip{
    display:flex;
    justify-content: center;
    align-self: center;
}

.wip img{
    width:30%;
    height:auto;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
    background-color:#3d3d3d;
    width:100%;
    height:9vh;
    padding-left:2%;
    }

.foot-text{
    font-size:20px;
    font-weight:600;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    width:80%;
    position:absolute;
    left:5%;
    font-size: 18px;
    color:#1b96c8;
}

 .now-cont{
    display:block;
    justify-content: space-between;
    border: 3px dashed #888;
    padding:1px,3px;
    text-align: left;
    width:45%;
    color:#1b96c8;
    font-size:16px;
    width:45%;
    position:absolute;
    left:2.5%;
    top:18%;
 }

.soon-cont{
    display:block;
    justify-content: space-between;
    border: 3px dashed #888;
    padding:1px,3px;
    text-align: left;
    color:#1b96c8;
    font-size:16px;
    width:45%;
    position:absolute;
    right:2.5%;
    top:18%;
}

.cont-lk{
    font-size:20px;
    font-weight:700;
    color:#1b96c8;
    text-decoration: underline;
    transition-duration: color 0.3s;
}

.cont-lk:hover{
    color:#1b97c88c;
}

.Hey-You{
    font-size:40px;
    color:#1b96c8;
    text-decoration: underline;
    text-align: center;
}

.Not-Allowed{
    font-size:25px;
    font-weight:550;
    text-align: center;
    text-decoration: none;
}

.criminal{
    width:60%;
    height:auto;
    position:absolute;
    left:10%;
}

.cop{
    width:60%;
    height:auto;
    position:absolute;
    left:70%
}

.contact-big{
    font-size:20;
    font-weight: 600;
    color:#1b96c8;
    text-align: center;
}

.contact-small{
    font-size:14;
    font-weight:450;
    color:#1b96c8;
    text-align:center;
}

.big-404{
    display:block;
    position:absolute;
    align-self: center;
    left:30%;
    top:30%;
    font-size: 75px;
}

.small-404{
    display:block;
    position:absolute;
    align-self: center;
    font-size:25px;
    left:15%;
    top:50%;
}

.feedback-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:5%;
    width:100%;
    min-height:25vh;
}

    .name-label{
        color:#1b96c8;
        font-size:14px;
        font-weight:450;
        position:absolute;
        left:40%;
        top:0;
    }

    .name-box{
        background-color:#f5f8fa;
        color:black;
        font-size:14px;
        font-weight:450;
        position:absolute;
        left:40%;
        top:2vh;
        border-color:#1b96c8;
        width:20%;
    }

    .feedback-label{
        color:#1b96c8;
        font-size:14px;
        font-weight:450;
        position:absolute;
        top:5vh;
        left:40%
    }

    .feedback-box{
        background-color:#f5f8fa;
        color:black;
        font-size:14px;
        font-weight:450;
        position:absolute;
        left:40%;
        top:7vh;
        border-color:#1b96c8;
        height:8vh;
        width:20%;
    }
    .submit-button{
        background-color:#1b96c8;
        color:#ffffff;
        font-size:14px;
        font-weight:500;
        position:absolute;
        top:18vh;
        left:47.5%;
    }

.feedback-resp{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:absolute;
    top:50vh;
    width:100%;
    height:5vh;
}

.upload-text {
    position:absolute;
    left:20%;
}

.drop-area {
    width:100%;
    max-width: 500px;
    margin: 75px auto;
    padding: 75px;
    border: 3px dashed #888;
    text-align: center;
    font-family: sans-serif;
    color: #555;
    transition: background-color 0.3s ease;
}

.drop-area.dragover {
    background-color: #e0ffe0;
    border-color: #00aa00;
}

.output {
    white-space: pre-wrap;
    margin-top: 20px;
    font-family: monospace;
}

.uploader {
    position:absolute;
    left:45%;
    top:30%;
}

.look-out-for {
    display:block;
    justify-content: center;
    text-align: center;
    position:absolute;
    padding:0 5%;
    top:45%;
    font-size: 18px;
}

.fix-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:2%;
 }

 .tw-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    top:24vh;
    left:22.5%;
 }

 .fix-comp-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    top:24vh;
    left:40%;
 }

 .pfas-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    top:24vh;
    left:58%;
 }

 .sw-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    top:24vh;
    left:78%;
 }

  .down-title{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:2vh;
    font-weight:600;
    text-decoration: none;
    position:absolute;
    top: 58%;
    left:1%;
 }

   .quote-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: underline;
    position:absolute;
    top: 65%;
    left:2%;
    transition-duration: 0.3s;
 }

.quote-down:hover{
    color:blue;
 }

 .fix-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: underline;
    position:absolute;
    top: 70%;
    left:2%;
    transition-duration: 0.3s;
 }

 .fix-down:hover{
    color:blue;
 }

  .tw-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: underline;
    position:absolute;
    top: 72.5%;
    left:2%;
    transition-duration: 0.3s;
 }

 .tw-down:hover{
    color:blue;
 }

  .sw-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: underline;
    position:absolute;
    top: 75%;
    left:2%;
    transition-duration: 0.3s;
 }

 .sw-down:hover{
    color:blue;
 }

.group{
    margin-bottom:2%;
}

.fix-header{
    cursor:pointer;
    font-weight:bold;
    background:#eee;
    padding:1%;
    position:absolute;
    top:35%;
    left:5%;
}

.fix-tclp-header{
    cursor:pointer;
    font-weight:bold;
    background:#eee;
    padding:1%;
    position:absolute;
    top:35%;
    left:30%;
}

.tw-header{
    cursor:pointer;
    font-weight:bold;
    background:#eee;
    padding:1%;
    position:absolute;
    top:35%;
    left:39%;
}

.twuu-header{
    cursor:pointer;
    font-weight:bold;
    background:#eee;
    padding:1%;
    position:absolute;
    top:35%;
    right:5%;
}

.options-fix{
    display:none;
    margin-left:2%;
    background-color:#888;
    color:#ffffff;
    max-height:30vh;
    position:absolute;
    top:42%;
    left:3%;
    width:19%;
    overflow-y:auto;
    z-index:3;
}

.options-fix label {
    display:block;
}

.options-tclp{
    display:none;
    margin-left:2%;
    background-color:#888;
    color:#ffffff;
    text-wrap: inherit;
    max-height:30vh;
    position:absolute;
    top:42%;
    left:28%;
    width:19%;
    overflow-y:auto;
    z-index:3;
}

.options-tclp label {
    display:block;
}

.options-twint{
    display:none;
    margin-left:2%;
    background-color:#888;
    color:#ffffff;
    max-height:30vh;
    position:absolute;
    top:42%;
    left:39%;
    width:18%;
    overflow-y:auto;
    z-index:3;
}

.options-twint label {
    display:block;
}

.options-twext{
    display:none;
    margin-left:2%;
    background-color:#888;
    color:#ffffff;
    max-height:30vh;
    position:absolute;
    top:42%;
    right:5%;
    width:18.75%;
    overflow-y:auto;
    z-index:3;
}

.options-twext label {
    display:block;
}

.dsdownbutton{
    position:absolute;
    left:42%;
    top:82%;
    width:15%;
    height:5%;
    background-color: #1b96c8;
    color:#ffffff;
    font-weight: 500;
    font-size:2vh;
    z-index:3;
}

.startd{
    position:absolute;
    margin:10px;
    padding:1% 24.5% 1% 1%;
    background-color:#eee;
    left:35%;
    top:19.5%;
    font-weight:600;
    z-index: 2;
}

.startinput{
    position:absolute;
    margin:1%;
    padding:0.25%;
    background-color:#ffffff;
    left:41.5%;
    top:20%;
    font-weight:500;
    border:2px solid #888;
    z-index: 2;
}

.endd{
    position:absolute;
    margin:10px;
    padding:1% 25% 1% 1%;
    left:51.5%;
    top:19.5%;
    font-weight:600;
    z-index: 2;
}

.endinput{
    position:absolute;
    margin:1%;
    padding:0.25%;
    background-color:#ffffff;
    left:57.5%;
    top:20%;
    font-weight:500;
    border:2px solid #888;
    z-index: 2;
}

.download-title{
    color:#1b96c8;
    font-size: 2.5vh;
    font-weight:600px;
    text-align:center;
}

.dropcatlab{
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropcatblank{
    text-align: center;
    color:#888;
}